.conceito-badge.conceito-AA {
  background-color: #dd4b39;
}

.conceito-badge.conceito-AB {
  background-color: #e87f43;
}

.conceito-badge.conceito-B {
  background-color: #f0ad4e;
}

.conceito-badge.conceito-C {
  background-color: #9cad54;
}

.conceito-badge.conceito-D {
  background-color: #00a65a;
}
