<section class="content-header">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Clientes</h3>
        </div>
        <div class="box-body">
          <ul class="products-list product-list-in-box">
            <li class="item">
              <div class="col-md-4 ">
                <span class="product-title">Cliente 1</span>
              </div>
              <div class="col-md-4">
                  <div class="progress-group">
                    <span class="progress-text">Quantidade</span>
                    <span class="progress-number"><b>160</b>/200</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="progress-group">
                    <span class="progress-text">Tempo total</span>
                    <span class="progress-number"><b>160</b>/200</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                    </div>
                  </div>
              </div>
            </li>
            <li class="item">
              <div class="col-md-4 ">
                <span class="product-title">Cliente 2</span>
              </div>
              <div class="col-md-4">
                  <div class="progress-group">
                    <span class="progress-text">Quantidade</span>
                    <span class="progress-number"><b>160</b>/200</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="progress-group">
                    <span class="progress-text">Tempo total</span>
                    <span class="progress-number"><b>160</b>/200</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                    </div>
                  </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
