<section class="content">
  <section class="invoice">
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-header">
          <i class="fa fa-user"></i> &nbsp; {{cliente?.codigo}} - {{cliente?.nomeFantasia}}
            <app-conceito-badge [conceito]="cliente?.conceito"></app-conceito-badge>
          <small *ngIf="cliente?.dataCadastro != undefined" class="pull-right">
            Cliente desde {{cliente?.dataCadastro | date:'dd/MM/yyyy'}}
          </small>
        </h2>
        <app-negative-positive-progress-bar title="Score de satisfação" [value]="cliente?.scoreMedia"></app-negative-positive-progress-bar>
      </div>
    </div>
    <div class="row invoice-info col-md-12">
      <b>Razão Social:</b> {{cliente?.nome}}
    </div>
    <div class="row invoice-info col-md-12">
      <b>CPF/CNPJ:</b> {{cliente?.cpfCnpj}}
    </div>
    <div class="row invoice-info">
      <div class="col-md-4">
        <b>Endereço:</b> {{cliente?.endereco}}
      </div>
      <div class="col-md-4">
        <b>Bairro:</b> {{cliente?.bairro}}
      </div>
      <div class="col-md-4">
        <b>CEP:</b> {{cliente?.cep}}
      </div>
    </div>
    <div class="row invoice-info">
      <div class="col-md-4">
        <b>Cidade:</b> {{cliente?.cidade}}
      </div>
      <div class="col-md-4">
        <b>UF:</b> {{cliente?.uf}}
      </div>
    </div>
    <div class="row invoice-info">
      <div class="col-md-4">
        <b>Telefone:</b> {{cliente?.telefonePrincipal}}
      </div>
      <div class="col-md-4 invoice-info" *ngIf="cliente?.telefoneSecundario != ''">
        <b>Telefone secundário:</b> {{cliente?.telefoneSecundario}}
      </div>
      <div class="col-md-4 invoice-info" *ngIf="cliente?.celular != ''">
        <b>Celular:</b> {{cliente?.celular}}
      </div>
    </div>
    <div class="row invoice-info">
      <div class="col-md-4">
        <b>Versão atual:</b> {{cliente?.versaoAtual}}
      </div>
      <div class="col-md-4 invoice-info" *ngIf="cliente?.dataAtualizacao != null">
        <b>Data últ.atualização:</b> {{cliente?.dataAtualizacao | date:'dd/MM/yyyy'}}
      </div>
      <div class="col-md-4 invoice-info">
        <b>Versão liberada:</b> {{cliente?.versaoLiberada}}
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4 col-xs-6">
        <div class="small-box bg-aqua" routerLink="atendimento">
          <div class="inner">
            <h3>{{dataUltimoAtendimento | date:'dd/MM/yyyy'}}</h3>
            <p>Último atendimento</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-call"></i>
          </div>
          <a class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row col-md-12">
      <p class="lead">Histórico de satisfação mensal</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div [chart]="historicoSatisfacao"></div>
      </div>
    </div>
    <hr>

    <div class="row col-md-12">
      <p class="lead">Histórico de atualizações</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div [chart]="historicoAtualizacao"></div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <div class="box collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title">Contatos</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" aria-expanded="false">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nome:</label>
                <input class="form-control" type="text" placeholder="Nome" [(ngModel)]="nomeFiltro">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Cargo:</label>
                <input class="form-control" type="text" placeholder="Cargo" [(ngModel)]="cargoFiltro">
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <th [appSort]="sortContato" sortColumn="c.nome" (onSort)="updateContato()">Nome</th>
                    <th [appSort]="sortContato" sortColumn="c.cargo" (onSort)="updateContato()">Cargo</th>
                    <th [appSort]="sortContato" sortColumn="c.email" (onSort)="updateContato()">E-mail</th>
                    <th [appSort]="sortContato" sortColumn="c.dataUltimoAtendimento" (onSort)="updateContato()">Data último atendimento</th>
                    <th [appSort]="sortContato" sortColumn="c.score" (onSort)="updateContato()">Satisfação</th>
                  </tr>
                  <tr *ngFor="let contato of (contatos | filtroContato:nomeFiltro:cargoFiltro)">
                    <td><a routerLink="atendimento/{{contato.codigo}}">{{contato.nome}}</a></td>
                    <td>{{contato.cargo}}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.dataUltimoAtendimento | date:'dd/MM/yyyy'}}</td>
                    <td><app-negative-positive-progress-bar title="Satisfação" [value]="contato.score"></app-negative-positive-progress-bar></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title">Sistemas Contratados</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" aria-expanded="false">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <th [appSort]="sortSistema" sortColumn="s.descricao" (onSort)="updateSistema()">Descrição</th>
                  <th [appSort]="sortSistema" sortColumn="s.score" (onSort)="updateSistema()">Satisfação</th>
                </tr>
                <tr *ngFor="let sistema of sistemas">
                  <td>{{sistema.descricao}}</td>
                  <td><app-negative-positive-progress-bar title="Satisfação" [value]="sistema.score"></app-negative-positive-progress-bar></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
